body{
    color:white;
}
#cap{
    margin: 1em;
    padding: 2px;
    background-color: grey;  
    
}
#menu{
    padding: 2px;
    margin: 1em;
    background-color:pink
}
#lateral{
    background-color: green;
    float: left;
    height: 18em; 
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    
}
#principal{
    background-color: limegreen;
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
}
#secundari{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 1em;
}
#article1{
    background-color: blue;
    margin-bottom: 1em;
    padding: 1em;
    float: right;
    
}
#article2{
    background-color: blue;
    padding: 1em;
    float: right;
}
#peu{
    background-color: orange;
    padding: 1em;
    margin: 1em;
    
}