ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
p,
form {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
img {
    border: none;
}
#contenidor {
    width: 90%;
    max-width: 900px;
    width: expression(document.body.clientWidth > 901? "900px": "auto");
    margin: 0 auto;
}
#cap,
#menu,
#lateral,
#peu {
    border: 2px solid #777;
}
#cap {
    clear: both;
    padding: 1em;
}
#menu {
    clear: both;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
#lateral {
    float: left;
    width: 20%;
}
#contingut {
    float: right;
    width: 77%;
    border: 2px solid #777;
}
#contingut #principal {
    float: left;
    width: 72%;
    padding: 0.5em;
    border: 2px solid #777;
}
#contingut #secundari {
    float: right;
    width: 20%;
    padding: 0.5em;
    border: 2px solid #777;
}
#peu {
    clear: both;
    margin-top: 1em;
}
#cap #logo {
    float: left;
}
#cap #cercador {
    float: right
}
#menu #menu_principal li {
    display: inline;
    float: left;
}
#contingut #principal .article img {
    width: 100px;
    float: left;
    
}
#peu .links {
    float: left;
}
#peu .copyright {
    float: right;
    padding-bottom: 0.5em;
    padding-top: 0.5em; 
}
#noticies{
    padding: 0.5em;
}
#publicitat{
    padding: 0.5em;
    margin-top: 1em;
}
div.article{
    margin-bottom: 1em;
}
img{
    margin:0.5em;
}
#principal{
    margin-bottom: 0.5em   
}