ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none
}
h1,
h2,
h3,
p,
form {
    margin: 0;
    padding: 0
}
.clear {
    clear: both
}
img {
    border: none
}
#contenidor {
    width: 90%;
    max-width: 900px;
    width: expression(document.body.clientWidth > 901? "900px": "auto");
    margin: 0 auto
}
#cap,
#menu,
#lateral,
#contingut,
#contingut #principal,
#contingut #secundari,
#peu {
    border: 2px solid #777
}
#cap {
    clear: both
}
#menu {
    clear: both
}
#lateral {
    float: left;
    width: 20%
}
#contingut {
    float: right;
    width: 78%
}
#contingut #principal {
    float: left;
    width: 78%
}
#contingut #secundari {
    float: right;
    width: 20%
}
#cap {
    clear: both
}
#cap #logo {
    float: left
}
#cap #cercador {
    float: right
}
#menu ul#menu_principal li {
    display: inline;
    float: left
}
#contingut #principal .article img {
    width: 100px;
    float: left
}
#peu .links {
    float: left
}
#peu .copyright {
    float: right
}
#cap,
#menu,
#lateral,
#lateral #noticies,
#lateral #publicitat,
#contingut,
#contingut #principal,
#contingut #secundari,
#peu {
    padding: .5em
}
#lateral {
    padding: 0
}
#cap {
    padding: 1em
}
#menu {
    margin-bottom: .5em
}
#contingut {
    width: 77%;
    padding: 0
}
#contingut #principal {
    width: 73%
}
#peu {
    padding: .5em 0;
    margin-top: 1em
}
#contingut #principal .article {
    margin-bottom: 1em
}
#contingut #principal .articgrale img {
    margin: .5em
}
#lateral #publicitat {
    margin-top: 1em
}